body {
    background-color: white;
    font-size: 14px;
}

#progress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .cm-content {
    font-size: 14px;
} */

/* Only add custom styles that aren't available in Bootstrap */